<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="AWSProfileName" value="default"/>
		<add key="AWSRegion" value="us-east-1" />
    <add key="imdbFiles" value="title.basics.tsv.gz,title.crew.tsv.gz,title.principals.tsv.gz,title.ratings.tsv.gz,name.basics.tsv.gz"/>
    <add key="destinationBucket" value="movienightr-storage"/>
    <add key="destinationKey" value="imdb/"/>
    <add key="sourceBucket" value="imdb-datasets"/>
    <add key="sourceKey" value="documents/v1/current/"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
